{% extends "base.html" %} {% block title %}Login Page{% endblock %} {% block
login %}


<script>


function logout() {
    fetch('{{ url_for('logout') }}', {
        method: 'GET',
    }).then(response => {
        if (response.ok) {
            window.location.href = '{{ url_for('home') }}';
        } else {
            console.error('Logout failed');
        }
    }).catch(error => {
        console.error('Error during logout:', error);
    });
}



  function GoHome() {
      window.location.href = '{{ url_for('hp')}}';
  }
</script>
<div style="margin: 30px;">
  <p>Hello, {{ usr }}</p>
<button type="button" class="btn btn-dark" onclick="logout()">Log out</button>
<button type="button" class="btn btn-dark" onclick="GoHome()">Home page</button>
</div>
{% endblock %}
